
.DS_Store
.ipynb_checkpoints/install-checkpoint.sh
.ipynb_checkpoints/setup-checkpoint.py
src/.ipynb_checkpoints/setup-checkpoint.py
results/cell_phenotyping/.ipynb_checkpoints/results_valid-checkpoint.csv
examples/__pycache__/utils.cpython-39.pyc
examples/__pycache__/utils.cpython-38.pyc
examples/.ipynb_checkpoints/cell_phenotyping_tutorial-checkpoint.ipynb
*.pyc
cell_phenotyping.egg-info/top_level.txt
cell_phenotyping.egg-info/SOURCES.txt
cell_phenotyping.egg-info/requires.txt
cell_phenotyping.egg-info/PKG-INFO
cell_phenotyping.egg-info/dependency_links.txt
cell_phenotyping/.ipynb_checkpoints/datasets-checkpoint.py
cell_phenotyping/.ipynb_checkpoints/predictor-checkpoint.py
cell_phenotyping/.ipynb_checkpoints/trainer-checkpoint.py
examples/.ipynb_checkpoints/utils-checkpoint.py
